
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  
  h1 {
    margin-bottom: 2rem;
    color: #3c3744;
  }
  #logout{
    padding: 0%;
    background-color: none;
    width: 32px;
  }
  
  form {
    display: flex;
    align-items: center;
    width: 20rem;
    padding: 3rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #3066be;
    color: #fbfff1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 1.2rem;
  }
  
  input[type='text'],
  input[type='password'] {
    padding: .6rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.30rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  button[type='submit'] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #b4c5e4;
    color: #3c3744; 
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 1s;
  }
  
  button[type='submit']:hover {
    background-color: #9fb7e4d0;
  }
    .toggle {
    margin-top: 2rem;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  button {
    margin-left: 0.5rem;
    padding: 0.5rem;
    background-color: #b4c5e4;
    color: #3c3744; 
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 1s;
    border: none;
    border-radius: 0.25rem;
  }

  button:hover {
    background-color: #9fb7e4d0;
  }