:root {
  --white: #efefef;
  --blue: #012d46;
  --grey: #5f5f5f;
  --orange: #ef8113;
  --red: #d21327;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  
  #container p {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 2rem;
    color: var(--blue);
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  
  label {
    font-size: 1.2rem;
  }
  
  input[type='text'],
  input[type='password'], 
  input[type='email']{
    padding: .6rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.30rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  button[type='submit'] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--orange);
    color: var(--blue); 
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 1s;
  }
  
  button[type='submit']:hover {
      opacity: 0.5;
  }
    .toggle {
    margin-top: 2rem;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  button {
    margin-left: 0.5rem;
    padding: 0.5rem;
    background-color: var(--orange);
    color: var(--blue); 
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 1s;
    border: none;
    border-radius: 0.25rem;
  }

  button:hover {
    opacity: 0.5;
    background-color: var(--red);
  }

